<!DOCTYPE html>
<!-- Language -->
<html lang="zxx">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Raj_Devs">
    <!-- ======== Page title ============ -->
    <title>SOFTLAB-Student-Form</title>
    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="/assets/img/favicon.png">
    <!-- ===========  All Stylesheet ================= -->
    <!--  Icon css plugins -->
    <link rel="stylesheet" href="/assets/css/icons.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/dataTables.bootstrap5.min.css">
    <!--  Bootstrap css plugins -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <!--  main style css file -->
    <link rel="stylesheet" href="/assets/css/style.css">
    
</head>
<body>

    <%- body %>
    
    <!--  ALl JS Plugins
    ====================================== -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/dataTables.bootstrap5.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script src="/assets/js/active.js"></script>  
    </script>
</body>
</html>




